extends head

block page
    div.container.mt-3
        div.row
            div.col

            div.col-12.col-lg-9
                div.card
                    div.card-body.m-0.m-md-5

                        block errors

                        h1.card-title.font-weight-bold
                            block heading

                        block form

                    div.card-footer.border-0.py-4
                        block footer
            
            div.col