include ../mixins/inputField.pug
include ../mixins/submitButton.pug

form(method="POST" action="/login" class="needs-validation" novalidate="")
    
    //- inputField(name, type, placeholder, invalidFeedback, regex)
    
    +inputField("username", "text", "Username", "Please enter a valid username")
    +inputField("password", "password", "Password", "Please enter a valid password", "[A-Za-z0-9]{8,30}")

    +submitButton("Login")
