include ../mixins/userIcon
include ../mixins/tweetForm

div.new-tweet.card
    div.card-body.d-flex.justify-space-between
        +userIcon(loggedInUser, "icon")
        +tweetForm("POST", "/tweets", "What's happening?", "", "Tweet")