include ../mixins/submitButton
include ../mixins/imageUploader
include ../mixins/userIcon
include ../mixins/followUser
include ../mixins/profileDetails

div.profile-card.card
    div.profile-card__banner
    
    div.profile-card__header
        div.d-flex.ml-2.d-flex.align-items-center.justify-content-between
            +userIcon(user, "banner")

            div.pr-3
                if loggedInUser.username == user.username
                    form(action=`/${user.username}/profile-picture` enctype="multipart/form-data" method="POST")
                        div.image-uploader__container
                            +imageUploader("edit", "", "Edit Profile")
                        div.profile-picture__confirmation-btn
                            +submitButton("Confirm")
                else
                    +followUser(user)

        div.pt-2.pl-4
            +profileDetails()