include ../mixins/userIcon
include ../mixins/followUser

div.profile-card.card
    div.profile-card__banner
    
    div.profile-card__header
        div.d-flex.ml-2.d-flex.align-items-center.justify-content-between
            +userIcon(user, "banner")

            div.pr-3
                if loggedInUser.username == user.username
                    include profileModal
                else
                    +followUser(user)

        div.pt-2.pl-4
            include profileDetails