form
    div.search-bar.input-group-sm.bg-light.p-1.pl-2.rounded.rounded-pill.shadow-sm
        div.input-group-prepend
            button.search-bar__btn.btn.text-dark
                i.fa.fa-search
            input.search-bar__input.form-control-sm.border-0.mr-2.bg-light(type="search" placeholder="Search Twitter")