include ../mixins/inputField.pug
include ../mixins/submitButton.pug

form(method="POST" action ="/signup" class="needs-validation" novalidate="")
    //- inputField(name, type, placeholder, invalidFeedback, regex)

    +inputField("fullname", "text", "Full name", "Please enter a valid full name", "[a-zA-Z0-9_ ]{4,30}")
    +inputField("email", "email", "Email", "Please enter a valid email")
    +inputField("username", "text", "Username", "Please enter a valid username")
    +inputField("password", "password", "Password", "Please enter a valid password", "[A-Za-z0-9]{8,24}")

    +submitButton("Sign up")

script(src="js/validator.js")