include ../mixins/cardHeader
include ../mixins/cardBody
include ../mixins/cardFooter

div.card.border-top-0
    div.container.m-0.p-0
        div.row
            div.col-12
                    div.card-header.pb-0.border-0.bg-white
                        +cardHeader(tweet, "PATCH", `/tweets/${tweet._id}`)

        div.row
            div.col-11.offset-1
                div.card-body.pt-0
                    a.card-body__link(href=`/${tweet.author.username}/status/${tweet._id}`)
                        +cardBody(tweet)

        div.row
            div.col-11.offset-1
                div.card-footer.pt-0.pl-5.border-0.bg-white
                    +cardFooter(tweet)        