extends layout

block content
    div(
        class="container"
        style="width: 75%"
    )
        div.card.p-5
            div.card-body
                h1.card-title Join Twitter today

                form(method = "POST" action = '/signup')
                    div.form-group
                        input(type="text" name="fullname" placeholder="fullname")
                    
                    div.form-group                    
                        input(type="email" name="email" placeholder="email")
                    
                    div.form-group
                        input(type="text" name="username" placeholder="username")

                    div.form-group                            
                        input(type="password" name="password" placeholder="password")

                    button.btn.btn-primary.text-white.font-weight-bold
                        | Sign up