.modal-header__close-button {
    font-size: 2rem;
}

.modal__content {
    border-radius: 1rem !important;
}

.modal-body__profile-image-uploader {
    position: relative;
    right: 1.25rem;
    top: 0.5rem;
}

.modal-body__form {
    .tweet-form__textarea {
        height: 10rem !important;
    }
}
