.tweet--username {
    font-size: 1rem;
}

.tweet--body {
    font-size: 0.9rem;
}

.tweet--body__textareaContainer {
    display: none;
}

.tweet--body__textarea {
    border: none;
    margin-top: 1rem;
}
