.user-icon__icon-frame,
.user-icon__banner-frame {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.user-icon__icon-frame {
    width: 3.5rem;
    height: 3.5rem;
}

.user-icon__image {
    min-width: 150%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-icon__anonymous-icon-image {
    font-size: 3.25rem;
}

.user-icon__banner-frame {
    width: 10rem;
    height: 10rem;
}

.user-icon__anonymous-banner-image {
    font-size: 10rem;
    background-color: #ccd6dd;
    border-radius: 50%;
}
