include ../mixins/submitButton

mixin followUser(user)
    if !loggedInUser.following.includes(user._id.toString())
        form(action=`/${user.username}/followers` method="POST")
            +submitButton("Follow")
    else
        form(action=`/${user.username}/followers?_method=DELETE` method="POST")
            +submitButton("Unfollow")