mixin imageUploader(action, uploadIcon, btnLabel)
    div.image-uploader
        label.m-0.mb-1(for=`profile-card__${action}-btn`)
            if uploadIcon
                i.image-uploader__icon(class=`fa fa-${uploadIcon}`)
            else
                a.submit-button.btn.btn-sm.rounded-pill.text-white.font-weight-bold.py-2.px-3 
                    | #{btnLabel}
        input.image-uploader__file-input(id=`profile-card__${action}-btn` name="image" type="file")
