mixin imageUploader(icon)
    div.image-uploader.mt-2
        label.m-0
            i.image-uploader__icon.text-secondary(class=`fas fa-${icon}`)
            input.image-uploader__file-input(name="image" type="file")
