mixin inputField(name, type, placeholder)
    div.form-group
        input(
            class="form-control__input form-control form-control-sm w-50"
            name=name
            type=type
            placeholder=placeholder
        )