include submitButton
include imageUploader

mixin tweetForm(method, action, placeholder, value, btnLabel)
    div.tweet-form.ml-2
        form(method="POST" enctype="multipart/form-data" action=`${action}?_method=${method}`)
            
            div.form-group
                textarea.w-100.tweet-form__textarea.form-control.border-0(type="text" name="text" placeholder = placeholder)
                    | #{value}
                
                div.d-flex.justify-content-end.align-items-start
                    div.mr-3
                        +imageUploader("paperclip")
                    +submitButton(btnLabel)