h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 0.9rem;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
