extends ../layouts/auth

block errors
    if errors
        if errors === "Invalid credentials"
            p.text-danger.mb-4 The username and password you entered did not match our records. Please double-check and try again. 
        else
            h1.text-danger.mb-4
                | Login Error

block heading
    | Log in to Twitter

block form
    include ../components/loginForm

block footer
    div.pl-0.pl-md-5 New to Twitter? 
        a(href="/signup") Sign up now &#187;