extends ../layouts/auth

block errors
    if errors
        h1.text-danger.mb-4
            | Registration Error
            each error in errors
                if error.msg === "Username already taken"
                    | &nbsp;(#{error.msg.toLowerCase()})


block heading
    | Join Twitter today

block form
    include ../components/signupForm

block footer
    div.pl-0.pl-md-5 Have an account? 
        a(href="/login") Log in &#187;